# Git
.git
.gitignore

# GitHub
.github

# Infrastructure
infrastructure

# Tests
tests
tests_output.txt
.pytest_cache

# Python cache
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Dev files
*.md
requirements-dev.txt
main_output.txt
